<html lang="en">
  <head>

    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Slice albums, concerts and other audio footage to songs!">
    <meta name="author" content="Tomasz Kożuch">

    <title>Audio Slicer</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'upload/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'upload/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'upload/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'upload/css/landing-page.css' %}" rel="stylesheet">

    <!-- My custom style for overwrite -->
    <link rel="stylesheet" href="{% static 'upload/my/css/style.css' %}">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="my-navbar-brand navbar-brand"><i class="slicer-logo far fa-file-audio"></i> Audio Slicer</a>
        <ul class="navigation-links navbar-nav">
          <li class="my-nav-item nav-item">
          <a class="my-nav-link nav-link" href="#">Home</a>
        </li>
        <li class="my-nav-item nav-item">
          <a class="my-nav-link nav-link" href="#">Demo</a>
        </li>
          </ul>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center" style="background: linear-gradient(#7b7a71, #ecd60d);">
      <div class="overlay"></div>
        {% block body %}

        {% endblock %}
      <div class="container">

      </div>
    </header>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class=" text-center text-lg-left my-auto">
            <p class="text-muted small mb-4 mb-lg-0">&copy; Tomasz Kożuch 2018. Zastrzegam sobie prawa do strony.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'upload/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'upload/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>
