{% extends 'slicing_app/base.html' %}
{% block body %}
{% load static %}
<div class="progress" style="text-align: center">
  <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
  <div class="col-xl-9 mx-auto">
      <h1 id="wait">Wait a moment...</h1>
      <ul id="links-list" align="center"></ul>
  </div>
<br>

<script type="text/javascript">
(function(){
  var json_dump = "{{ data }}";
  var task_id = "{{task_id}}";
  var progress_bar = jQuery('.progress-bar');

  var refreshIntervalId = setInterval(function() {
      $.ajax({
            url:'get_progress/',
            type: 'POST',
            data: {
                task_id: task_id,
                csrfmiddlewaretoken: "{{ my_csrf_token }}",
            },
            success: function(result) {
                if (result.state == 'PENDING') {
                    progress_bar.html('Please wait...');
                }
                else if(result.state != 'SUCCESS'){
                        progress_bar.css({'width': result.details.percent + '%'});
                        progress_bar.html(result.details.current + '/' + result.details.total);
                }
                else {
                        progress_bar.css({'width': '100%'});
                        progress_bar.html('Done! Your file has been sliced.');
                        $("#wait").html("Files ready for download: ");
                        var songs_paths = result.return_value;
                        var songs_names = getFilesNames(songs_paths);
                        var urls = getDownloadUrls(songs_paths);
                        createHtmlForDownloadLinks(urls, songs_names);
                        clearInterval(refreshIntervalId);
                }
            },
      });
  },500);

  function getDownloadUrls(paths){
    var urls = null;
    $.ajax({
      async: false,
      url:'get_download_urls/',
      type: 'POST',
      data: {
          paths: paths,
          csrfmiddlewaretoken: "{{ my_csrf_token }}",
      },
      success: function(result) {
        urls = result.urls;
      },
    });
    return urls;
  }

  function createHtmlForDownloadLinks(urls, names){
    var links_list = $("#links-list");
    var html = "";
    for (i = 0; i < names.length; i++) {
      url = urls[i];
      name = names[i];
      html += "<br><a href=\"" + url + "\" download>" + name + "</a>";
    }
    links_list.html(html);
  }

  function getFilesNames(paths){
    var names = [];
    for (i = 0; i < paths.length; i++){
      path = paths[i];
      names[i] = path.split('\\').pop().split('/').pop();;
    }
    return names;
  }
}());
</script>
{% endblock %}