{% extends 'slicing_app/base.html' %}
{% block body %}
{% load static %}
<div class="progress" style="text-align: center">
  <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
  <div class="col-xl-9 mx-auto">
      <h1 id="wait">Wait a moment...</h1>
      <ul id="links-list" align="center"></ul>
  </div>
<br>

<script type="text/javascript">
(function(){
  var json_dump = "{{ data }}";
  var task_id = "{{task_id}}";
  var progress_bar = jQuery('.progress-bar');

  var refreshIntervalId = setInterval(function() {
      $.ajax({
            url:'get_progress/',
            type: 'POST',
            data: {
                task_id: task_id,
                csrfmiddlewaretoken: "{{ my_csrf_token }}",
            },
            success: function(result) {
                if (result.state == 'PENDING') {
                    progress_bar.html('Please wait...');
                }
                else if(result.state == 'PROGRESS'){
                    progress_bar.css({'width': result.details.percent + '%'});
                    progress_bar.html(result.details.current + '/' + result.details.total);
                }
                else {
                    progress_bar.css({'width': '100%'});
                    progress_bar.html('Done! Your file has been sliced.');
                    $("#wait").html("Files ready for download: ");
                    var urls = result.urls;
                    var names = result.files_names;
                    createHtmlForDownloadLinks(urls, names);
                    clearInterval(refreshIntervalId);
                }
            },
      });
  },500);

  function createHtmlForDownloadLinks(urls, names){
    var links_list = document.getElementById('links-list');

    for (i = 0; i < names.length; i++) {
        var link = document.createElement("a");
        var link_text = document.createTextNode(names[i]);
        var br = document.createElement("br");
        link.appendChild(link_text);
        link.href = urls[i];
        link.style.color = "white";
        links_list.appendChild(link);
        links_list.appendChild(br);
    }
  }

}());
</script>
{% endblock %}