{% extends 'slicing_app/base.html' %}
{% load static %}
{% block body %}
<div class="row">
  <div class="col-xl-9 mx-auto">
    <h1 class="mb-5">Paste songs timing info, upload file and slice!</h1>
    <h5>Due to lack of media files hosting by heroku slicing here is currently unavailable.</h5>
    <h5>The application is fully functional offline and can be cloned from github.com/tkozuch/AudioSlicer</h5>
    <h5>I am on my way to making it work on heroku. Stay tuned.</h5>
  </div>
  <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
    <form id="generate-user-form" enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}

      {{ form }}
      <button type="submit" class="btn btn-block btn-lg btn-primary" style>Slice!</button>
      <div class="form-row" align="center">
        <div class="col-6 col-md-2">
        </div>
      </div>
    </form>
  </div>
</div>

<script content="text/javascript">
function list_function(){
  $.ajax({
      url:'test/',
      type: 'GET',
      success: function(result) {
        console.log(typeof(result));
        console.log(result);
        console.log("nic");
        console.log(typeof(result.urls));
        console.log(result.urls);
      }
  });
}
</script>

{% endblock %}
